/* стили для Float задания начало */
.test1 {
  overflow: hidden;
}

.test1 > div {
  width: 50%;
}

.test1 > div:not(:nth-child(2)) {
  height: 33%;
  background-color: red;
}

.test1 > div:nth-child(2) {
  background-color: green;
  clear: both;
  margin: 0 auto;
  height: 34%;
}

.test1 > div:first-child {
  float: left;
}

.test1 > div:last-child {
  float: right;
  height: 51%;
  overflow: hidden;
}
/* стили для Float задания конец */

/* стили для Flex задания начало */
.test2 {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.test2 > div {
  width: 50%;
  height: 33.33%;
}

.test2 > div:not(:nth-child(2)) {
  background-color: red;
}

.test2 > div:nth-child(2) {
  background-color: green;
  align-self: center;
}

.test2 > div:last-child {
  margin-left: auto;
}

/* стили для Flex задания конец */

/* стили для Bootstrap начало */

.d-flex > div:not(:nth-child(2)) {
  background-color: red;
}

.d-flex > div:nth-child(2) {
  background-color: green;
}

/* стили для Bootstrap конец*/

/* стили для Jquery задания начало */
/* все стили добавлялись из Jquery, классы из Bootstrap переиспользовал */
/* стили для Jquery задания конец*/

/* Стили для свой вариант начало */
.test5 > div {
  width: 50%;
  height: 33.33%;
}

.test5 > div:not(:nth-child(2)) {
  background-color: red;
}

.test5 > div:last-child {
  margin-left: 50%;
}

.test5 > div:nth-child(2) {
  margin-left: 25%;
  margin-right: 25%;
  background-color: green;
}
/* Стили для свой вариант конец */
